.tab-menu{
    width: 100%;
    height: 4.2rem;
    background-color: rgba(221, 227, 249,.2);
    box-shadow: 0px -3px 7px -2px rgba(42, 85, 247, 0.28) inset;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 1000;
    // background: #fff;
    .menu-item{
        width : 3.33rem;  
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
       
    }
    .menu-item-other{
        height : 2.1rem;

        .menu-item-block{
            width : 2.93rem;
            height: 1.86rem;
            padding: 0.16rem 0;
            background: #fff;
            box-shadow: 0px 2px 4px 0px rgba(60,61,62,0.14);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .terminal-num{
                color: #2b2b2b;
                font-size: 0.45rem;
            }
            .type-desc{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                color: #9E9FA7;
                font-size: 0.32rem;
            }
        }
    }
    .menu-item-all{
        width : 3.33rem; 
        height : 4.2rem;
        position: relative;
        .donut-inner{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            padding: 0.5rem 0 0.15rem;
            width : 2rem;
            height : 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            box-sizing: border-box;
            .all-num{
                color: #6F8EFF;
                font-weight: bold;
                font-size: 0.45rem;
                line-height: 0.4rem;
            }
            .all-desc{
                color: #9E9FA7;
                font-size: 0.32rem;
            }
        }
    }
}
.clickStyle{
    box-shadow: 0px 2px 10px 0px rgba(4,0,0,0.18) inset!important;
    color: #9E9FA7;
}
.listViewEl{
    padding-top: 4.2rem;
    box-sizing: border-box;
}
.rowItem{
    padding: 0.16rem 0.32rem;
    box-sizing: border-box;
    .device-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: self-start;
        .device{
            width: 100%;
            color: #454554;
            font-size: 0.426rem;
            line-height: .8rem;
            display: flex;
            justify-content: space-between;
            .deviceId{
                width: 7rem;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .device-status {
                text-align: right;
                font-size: .373rem;
            }
            
            .all-txt {
                font-size: .373rem;
                font-weight: bold;
                color: #999;
            }
            .online-txt {
                color: #77C61A!important;
            }
        }
        .tickets,.shop-infor{
            line-height: .6rem;
            font-size: .373rem;
            color: #707070;
        }
        .shop-address{
            width: 9.36rem;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: .6rem;
            font-size: .373rem;
            color: #707070;
        }
    }
}
/* 正常运行 */
.normal-txt {
    font-weight: bold;
    color: #2A55F7;
}
.online-txt{
    color: #77C61A!important;
}
/* 无销量设备 */
.noSale-txt {
    font-weight: bold;
    color: #77C61A;
}

/* 缺票设备 */
.lack-txt {
    font-weight: bold;
    color: #FAB41D;
}

/* 未开机设备 */
.noOpen-txt {
    font-weight: bold;
    color: #E60012;
}
.all-txt{
    font-weight: bold;
    color: #999;
}
